.card {
  transition: 0.3s;
  width: 45%;
  border-radius: 4%;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.selected {
  transition: 0.3s;
  width: 45%;
  border-radius: 4%;
  padding: 5px;
  border: 1px solid blue;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card img {
  width: 30px;
  height: 30px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
}

.selected img {
  width: 30px;
  height: 30px;
}
.selected:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
}

p,
h4 {
  text-align: start;
  margin: 10px;
}
