.input-form {
  width: 350px;
  margin-bottom: 16px;
}

.add-on {
  background-color: #ccc;
  margin: 0px;
  position: relative;
  z-index: 10;
  right: -2px;
  padding: 9.5px;
}

.card-class {
  width: 350px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
